name: Edikte Monitor

on:
  schedule:
    - cron: "30 7 * * 1-5"   # 08:30 AT (Mo–Fr)
    - cron: "0 9 * * 1-5"    # 10:00 AT (Mo–Fr)
    - cron: "0 12 * * 1-5"   # 13:00 AT (Mo–Fr)
    - cron: "0 15 * * 1-5"   # 16:00 AT (Mo–Fr)
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          

      - name: Run
        env:
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
          NOTION_DATABASE_ID: ${{ secrets.NOTION_DATABASE_ID }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}

        run: |
          python main.py
